<hr>
<div class="container col-11 m-4 d-flex align-items-center justify-content-center">



      <!-- allow to display the full informative title film  while catchind the Object film-->
      <form id="quickSearch" class="col-12 d-flex flex-column">
        <div class="row col-12">
          <fa-icon [icon]="faSearch" class=" col-1 d-flex align-items-center"></fa-icon>
          <input  list="mediaInfos" id="MediaInfosChoosen" name="MediaInfosChoosen"
                  class="form-control col-11 dropdown-toggle"
                  data-toogle="dropdown" aria-haspopup="true" aria-expanded="false"
                  [(ngModel)]="selected" (change)="catchMediaInfo()"/>
        </div>
        <div class='offset-1'>
          <ul id="filmInfos" class="col-12" >
            <li *ngFor="let film of listFilms"  >
              <a [routerLink]="['/home/'+film?.type+'/'+film?.id]">
                <div>
                  {{film?.title}} {{film?.type=="film" ? "un " + film?.type : "une "+ film?.type}} de  {{film?.authors[0].user.nickname != null ? film?.authors[0].user.nickname : film?.authors[0].user.first_name +" "+film?.authors[0].user.last_name | uppercase}} -  {{film?.production_date | date:"yyyy"}}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </form>




</div>


<hr class="col-10 d-flex justify-content-center">


