.container{
  background-color :white;
}

#blankClass{
  height: 30px;
}

a{
  text-decoration : none;
  color : gray;
  font-size: 0.8em;
}

#connexionMenu{
  size: 0.8em;
}

input{
  width: 100%;
  border: 3px solid white;
  border-radius: 0px;
  border-bottom: 3px solid black;
  margin: 0px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #4a4a4a;

}
