<div class="row">
  <div class="visible-md-lg col-md-1 sidebar p-2">
    <a href="http://www.lefresnoy.net" target="_blank">
      <img src="assets/img/fresnoy-bandeau.png">
    </a>
  </div>

  <div>
  <div id="connexionMenu" class="row d-flex justify-content-end ">
    <div class="d-flex justify-content-end m-0 p-0">
      <a class="nav-link " [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" [routerLink]="['/login']" [hidden]="isConnected">Se connecter</a>
      <a class="nav-link " routerLinkActive="active"[routerLink]="['/home']" (click)="logout()" [hidden]="!isConnected">Se déconnecter</a>
    </div>
  </div>
  <router-outlet class="col-xs-12 col-md-offset-0 col-md-5 col-lg-4" ></router-outlet>
  </div>

  <div id="rightPicture" class="col-md-6 col-lg-7 right-screen">
    <img class="img h-100 " src="https://app.lefresnoy.net/candidatures/artworks/2021/1_yan_tomaszewski_gangnam_beauty_film_2020_production_le_fresnoy_-1.jpg" alt="Responsive img">
  </div>



  <div id="blankClass">

  </div>
</div>
