<div id="containerDisplayed" class="container m-4">

  <form id="updateFilmInfo" >
    <!-- (ngSubmit)="onSubmit(formContent)" #formContent="ngForm" -->
    <div class="mb-3 mt-3 col-11">
      <label for="currentFilmTitle" class="form-label p-0 m-0 mb-1" >{{artwork?.type}}</label>
      <div class="row">
        <div class="inputClass col-10" >
          <input id="currentFilmTitle" type="text" class="form-control col-10 p-0 m-0" name="title" (keypress)="addNewTitle( $event)" ngModel value={{artwork?.title}}
          ng-keypress="characterCode ==13">
          <hr class="p-0 m-0">
          <input id="artistArtwork" type="text" class="artistArtwork form-control col-10 p-0 m-0" name="artistName" ngModel value={{names}}
          disabled >
        </div>
        <fa-icon  [hidden]="!isAllow" [icon]="faIcon"></fa-icon>
      </div>
    </div>
    <div [hidden]="!isTitleFilmModified" class="mb-2  col-11">
      <label for="formerTitle" class="label">Ancien titre</label>
      <input type="text" id="formerTitle" class="form-control" name="formerTitle" disabled value={{artwork?.title}}>
    </div>

    <!-- display a form for each field -->
    <div *ngFor="let link of vimeoLinks" class="mb-3 mt-3 col-11">
      <form  id="{{link}}" (ngSubmit)="onSubmit(formContent, $event)" #formContent="ngForm" >
        <div class="row " >

            <label for="link{{link}}" class="form-label ">Lien pour la {{link=="VF"? ' version française': (link=="VEN"? ' version anglaise' : (link=="VODVF" ? " VOD en français" : " VOD en anglais"))}}</label>
            <input type="text" id="link{{link}}" class="form-control col-10 " name="link{{link}}" >
            <button type="submit" class="btn btn-outline-secondary offset-1 " [disabled]="formContent.invalid" [hidden]="!isAllow"><fa-icon [icon]="faIcon" ></fa-icon></button>

          <div>

          </div>
        </div>
      </form>
    </div>

    <div class="mb-3 col-11 mt-3">
      <div class="row">
        <label for="typeOfArtwork" class="form-label col-3">Type:</label>
        <input id="typeOfArtwork" type="text" class="form-control col-10" name="type" disabled value={{artwork?.type}}>
      </div>
    </div>

  </form>
</div>
